@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #ebf2fa;
  background: #05668d;
}

.container {
  /* set the size of the container 
  as the SVG defines only the viewbox attribute, the width spreads to fit the container's width
  the height is also defined by the viewbox itself, to preserve the width to height ratio */
  width: 85vw;
  padding: 1rem;
  margin: 2rem auto;
  color: #252525;
  background: whitesmoke;
  border: 20px solid #03394f;
  border-radius: 10px;
}
.container h1#title {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  margin: 1rem;
}
.container h1#title::selection {
  color: #1f2d10;
  background: #252525;
}

svg {
  margin: 60px 0 0 0;
}

#title {
  text-anchor: middle;
  font-size: 1.4rem;
  fill: #234157;
}

.container div#tooltip {
  position: absolute;
  z-index: 5;
  color: #234157;
  background: #d8f3fe;
  border: 2px solid #05668d;
  padding: 0.2rem 0.4rem;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.container div#tooltip h3 {
  font-size: 0.8rem;
  font-weight: bold;
}

.container div#tooltip h4 {
  font-size: 0.6rem;
}
.container div#tooltip p {
  font-size: 0.6rem;
}

#subtitle {
  text-anchor: middle;
  font-size: 1rem;
  fill: #234157;
}

/* change the font for the ticks of the axes */
.container svg text {
  font-family: "Lato", sans-serif;
  font-weight: bold;
