body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lighgrey;
}

svg {
}

svg rect {
  fill: steelblue;
}

svg rect:hover {
  fill: orange;
}

.axis {
  font: 15px Arial sans-serif;
}
